<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('add_expense') }}">Add Expense</a></li>
            <li><a href="{{ url_for('add_income') }}">Add Income</a></li>
            <li><a href="{{ url_for('monthly_report') }}">Monthly Report</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
